.main_panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 700px;

  background: #ecf1ff;
  box-shadow: 4px 4px 7px #d3d9ff;
  border-radius: 36px;
}

.title {
  font-size: 25px;
  font-family: "Roboto";
  color: #073061;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.doctors {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media only screen and (max-width: 1040px) {
  .main_panel {
    box-shadow: none;
  }
}
