.title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #073061;
}

.text {
  line-height: 22px;
  font-weight: 500;
  font-size: 20px;
  color: #676868;
}

.visit_info {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 30px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 25%;
  margin-left: 9%;
}

.link {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #1e5bc0;
  margin-bottom: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {

    .container{
      margin-left: 10%;
      flex-direction: column;  
      gap: 30px;
    }
}