.container {
    margin: auto;
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
  
    background: #ffffff;
    box-shadow: 0px 7px 11px -1px rgba(0, 0, 0, 0.13);
    border-radius: 14px;
  }
  
  #info {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
    color: #676868;
  }
  
  #date {
    color: darkgreen;
  }
  
  #title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #073061;
  }
  
  #image {
    margin-left: 12px;
    margin-right: 12px;
    align-self: center;
  }
  
  #picture{
    width: 70px;
    border-radius: 17px;
  }
  
  #opinions {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #1e5bc0;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #button {
    width: 150px;
    height: 40px;
    background: #1e5bc0;
    border-radius: 8px;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #f4f5fc;
  }
  
  #button:hover{
    background-color: #023a95;
    cursor: pointer;
  }
  
  
  #raiting {
    color: #676868;
    font-size: 16px;
    line-height: 19px;
  }
  