.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.arrow2 {
  transform: rotate(180deg);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.arrow:disabled {
  background-color: #ecf1ff;
}

.button_general {
  font-size: 20px;
  line-height: 22px;
  width: 65px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #676868;
}

.button_general_set {
  font-size: 20px;
  line-height: 22px;
  width: 65px;
  padding: 4px;
  border: none;
  border-radius: 8px;
  background: rgba(126, 169, 255, 0.25);
  color: #266ce6;
  font-weight: bold;
}

.button_general:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.button_general:disabled {
  background: #c7c7c7;
  border-radius: 6px;
  text-decoration: line-through;
  cursor: auto;
}
