.button{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 240px;
    height: 70px;
    margin-top: 30px;
    margin-left: 15px;
    color: #676868;
  
    background: #ffffff40;
    border: 1px solid #d0d2d7;
    box-sizing: border-box;
    border-radius: 28px;
  }

  .button_selected{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 240px;
    height: 70px;
    margin-top: 30px;
    margin-left: 15px;
  
    background: rgba(126, 169, 255, 0.25);
    color: #0957DE;
    border: 1px solid #d0d2d7;
    box-sizing: border-box;
    border-radius: 28px;
  }
  

  .button:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
  }
  
  .button_icon {
    margin-left: 25px;
    align-self: center;
  }

  
.button_text{
    margin-left: 30px;
    align-self: center;
  }


  @media only screen and (max-width: 1040px){
    .button_text{
      display: none;
    }

    .button{
      border-radius: 50%;
      width: 70px;
      margin: 0px;
    }

    .button_selected{
      border-radius: 50%;
      width: 70px;
      margin: 0px;
    }

    .button_icon{
      margin-left: 16px;
    }

  }