#window {
  height: 240px;
  background: #ECF1FF;
  box-shadow: 3px 4px 5px #d3d9ff;
  border-radius: 30px;
}

#title {
  width: 311px;
  height: 56px;
  display: flex;
  align-items: center;

  background: #ffffff;
  border-radius: 30px;
}

#text_title{
    margin-left: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #073061;
}

#content {
  display: flex;
  height: calc(100% - 56px);
  align-items: center;
  justify-content: center;
}
/*XD słabo to jest zrobione*/