#main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-top: 5px;
  width: 100%;
  gap: 15px;
}

#month_select {
  display: flex;
  flex-direction: row;
}

#month_header {
  width: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #073061;
}

#calendar_month {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#days_of_week {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #1e5bc0;
}

.button {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.button_disabled{
  background-color: #ECF1FF;
}

.day {
  display: flex;
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  line-height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.day_normal {
  color: #676868;
}

.day_weekend {
  color: #073061;
}

.day_anotherMonth {
  color: #dcdddd;
}

.day_frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.day_frame:hover {
  background: rgba(255, 255, 255, 0.25);
  width: 38px;
  height: 38px;
  border: 1px solid #b7b7b7;
}

.day_frame_selected {
  background: rgba(126, 169, 255, 0.25);
  color: #266CE6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.day_frame_weekend{
  cursor: not-allowed;
}

.arrow2 {
  transform: rotate(180deg);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
